# .gitignore
.venv/
.vscode/
__pycache__/
*.pyc
recordings/
uploads/
app.db
migrations/
instance/
.DS_Store
test files/
.idea/
.gitignore
# Node.js build artifacts/dependencies
node_modules/
dist/
# General build/binary files
build/
*.log
*.bin
*.so